<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colors</title>
</head>
<body>
    <h1>Colors</h1>
    <table>
        <tr>
        {% for image_path in image_paths %}
            <td>
                <img src="{{ image_path }}">
            </td>
            {% if loop.index is divisibleby 3 and not loop.last %}
                </tr><tr>
            {% endif %}
        {% endfor %}
        </tr>
    </table>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endwith %}
    <form action="/add" method="POST">
        <label for="color">Color (# and 6 hexadecimal digits):</label>
        <br>
        <input type="text" id="color" name="color" placeholder="#9eec34d" required pattern="^#([0-9a-fA-F]{6})$">
        <button type="submit">Add square</button>
    </form>
    <p><a href="https://github.com/simonbrauner/color-queue">GitHub</a> <code>9eec34d2-fa74-413c-a262-4a7ec75baa90</code></p>
</body>
</html>
